.input {
  position: relative;
  width: 100%;
}
.error {
  position: absolute;
  bottom: -15px;
  left: 12px;
  text-align: left;
  font-size: 11px;
  color: $error;
}

.inputDivWrapper {
  position: relative;
  width: 100%;
}

.inputDiv {
  padding: 12px;
  min-height: 100px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid $border-color;
  outline: none;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  background-color: #141414;
  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $additional;
  }
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #666368;
  font-size: 17px;
}
