@import '../../theme/variables.scss';

.inputWrapper {
  z-index: 15;
  width: 100%;
  @media (max-width: 568px) {
    background-color: $dark;
    display: flex;
    justify-content: space-around;
  }
}

.input {
  width: 100%;
  z-index: 15;
  @media (max-width: 568px) {
    width: 85%;
    input,
    .ant-input-group-addon {
      height: 30px;
    }

    button {
      height: 39px !important;
    }
  }
}

.icon {
  color: $white;
  font-size: 25px;
}

.searchIcon {
  padding: 3px;
  align-self: flex-end;
}
