.emptyBooksWrapper {
  text-align: center;
  padding: 80px 20px;
  color: $table-value;
}

.icon {
  font-size: 48px;
  margin-bottom: 16px;
  opacity: 0.5;
}

.title {
  color: $white;
  margin-bottom: 8;
}

.paragraph {
  margin-bottom: 24px;
}
