.title {
  text-align: center;
  font-size: 56px;
  color: $white;
}

.formWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.formInnerWrapper {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.formWrapperReread {
  max-width: 95vw;
  margin-top: 25px;
  .title {
    margin-bottom: 25px;
  }
}
