@import '../../theme/variables.scss';

.title {
  text-align: center;
  font-size: 56px;
  color: $white;
}

.formWrapper {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 60vw 30vw;
  column-gap: 5vw;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
  }
}

.formWrapperReread {
  max-width: 95vw;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
}
