@import '../../theme/variables.scss';

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.text {
  color: $white;
  opacity: 0.8;
  font-size: 17px;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 25px;

  img {
    max-width: 206px;
    max-height: 137px;
    object-fit: cover;
  }
}
