@import '../../theme/variables.scss';

.contentWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.text {
  color: $white;
  opacity: 0.8;
  font-size: 17px;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 25px;
}

.emptyPlot {
  img {
    width: 55vw;
    max-height: 70vh;
    object-fit: contain;
  }
}
