.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 25px;
}

.title {
  font-size: 18px;
  color: $white;
}
.carouselContainer {
  user-select: none;
  max-width: 60vw;
  @media (max-width: 568px) {
    max-width: 77vw;
  }
}
