@import '../../theme/variables.scss';

.ratingCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratingStar {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapperCircleOnly {
  position: absolute;
  top: 55%;
  right: 5px;

  .ratingCircle {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
}
