.wrapper {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  opacity: 0;
  top: 60px;
  left: 20px;
}

.show {
  rotate: 180deg;
  opacity: 1;
  visibility: visible;
}

.return {
  opacity: 1;
  visibility: visible;
  rotate: 90deg;
}
