.wrpper {
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  @media (max-width: 568px) {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}
