.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 25px;
}

.innerWrapper {
  @media (max-width: 729px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 25px;
  }
}
