.editorWrapper {
  position: relative;
  width: 100%;
}

.inputDiv {
  padding: 12px;
  min-height: 100px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid $border-color;
  outline: none;
  white-space: normal;
  word-break: break-word;
  color: #fff;
  background-color: #141414;
  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $additional;
  }

  /* width */
  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $dark-grey;
  }

  /* button */
  &::-webkit-scrollbar-thumb {
    background-color: $black;
    outline: 1px solid $light;
    border-radius: 10px;
    &:hover {
      background: $additional;
      outline: 1px solid $black;
    }
  }
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #666368;
  font-size: 17px;
}

.editOptionsWrapper {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 7px;
}
