$dark: #222222;
$dark-grey: #2b2b2b;
$bgc: #333;
$black: #000;
$white: #fff;
$light: rgb(164, 167, 171);
$lightgray: lightgray;
$additional: #5e215f;
$additional-light: #892e8a;
$table-key: #a6a6a8;
$table-value: #cfcfd2;
$error: tomato;
$border-color: #424242;
